* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.webmadewell {
  background-color: #fff;
}

body {
  color: #555;
  max-width: 1480px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
}

header {
  z-index: 1;
  background: #7a7a7a91;
  border-bottom: 2px solid #6ba5f1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 14vh;
  padding: 10px;
  display: flex;
  position: fixed;
}

nav {
  text-shadow: 2px 2px #0a0a0a;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  position: absolute;
}

nav .logo a {
  font-size: 1.7rem;
  font-weight: bold;
}

.time {
  color: #f0f8ff;
  font-size: 1rem;
  font-weight: bold;
}

nav .links {
  gap: 6rem;
  display: flex;
}

nav .toggle_btn {
  color: #f0f8ff;
  cursor: pointer;
  font-size: 1.9rem;
  display: none;
}

li {
  list-style: none;
}

a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}

a:hover {
  color: #6ba5f1;
}

.dropdown_menu {
  backdrop-filter: blur(15px);
  transition: height .2 cubic-bezier(.175, .885, .32, 1.275);
  background: #ffffff1a;
  border-radius: 10px;
  width: 300px;
  height: 0;
  display: none;
  position: absolute;
  top: 70px;
  right: 2rem;
  overflow: hidden;
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  justify-content: center;
  align-items: center;
  padding: .7rem;
  display: flex;
}

.scienceHeadlines {
  background-color: #b5c1c4;
  grid-template-columns: 1.5fr 1fr;
  max-width: 100%;
  padding: 100px 50px 50px;
  display: grid;
}

.scienceHeadlines .left {
  padding: 10px 30px;
}

.scienceHeadlines h3 {
  color: #555;
  font-size: 1.6rem;
}

.scienceHeadlines h3:hover {
  text-decoration: underline;
}

.scienceHeadlines .left > .title {
  text-align: center;
  padding: 15px;
  font-size: 20px;
}

.scienceHeadlines .left .img {
  background-color: #a04;
  width: 100%;
  height: 400px;
}

.scienceHeadlines .left .img img {
  width: 100%;
  height: 100%;
}

.scienceHeadlines .left .text {
  padding: 20px 15px 10px;
}

.scienceHeadlines .left .text .title a {
  text-decoration: none;
}

.scienceHeadlines .left .text .description {
  color: #555;
  letter-spacing: 1px;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 400;
}

.article h2 {
  font-size: 1.2rem;
}

.scienceHeadlines .right {
  width: 100%;
  height: 500px;
  padding: 10px;
}

.scienceHeadlines .right > .title {
  text-align: center;
  padding: 15px;
  font-size: 20px;
}

.scienceHeadlines .right .scienceNews {
  border: 1px solid #fff;
  border-radius: 4px;
  height: 85%;
  padding: 7px;
  overflow-y: scroll;
}

.scienceHeadlines .right .scienceNews .news {
  grid-template-columns: auto auto;
  align-items: center;
  margin-bottom: 20px;
  display: grid;
}

.scienceHeadlines .right .scienceNews .news .img {
  background-color: #a04;
  width: 170px;
  height: 100%;
  min-height: 90px;
  max-height: 120px;
}

.scienceHeadlines .right .scienceNews .news .img img {
  width: 100%;
  height: 100%;
}

.scienceNews img {
  width: 300px;
  height: auto;
}

.scienceNews li {
  padding-bottom: 40px;
}

.scienceNews a {
  color: #555;
  font-size: 1.2rem;
}

.scienceNews a:hover {
  color: #559dfc;
  text-decoration: underline;
}

.scienceHeadlines .right .scienceNews .news .text {
  align-items: center;
  margin-inline: 10px;
  display: flex;
}

.scienceHeadlines .right .scienceNews .news .text .title a {
  text-decoration: none;
}

.scienceHeadlines .right .scienceNews .news .text .title a p {
  color: #fff;
  display: inline;
}

@media (width <= 576px) {
  .dropdown_menu {
    width: unset;
    left: 2rem;
  }

  .time {
    font-size: .8rem;
  }
}

@media (width <= 1024px) {
  .scienceHeadlines .right .scienceNews .news .img {
    width: 150px;
  }

  .scienceHeadlines .right .scienceNews .news .text .title a p {
    font-size: 14px;
  }
}

@media (width <= 768px) {
  .scienceHeadlines {
    display: block;
  }

  .scienceHeadlines .right .scienceNews .news .img {
    width: 220px;
  }

  .scienceHeadlines .right .scienceNews .news .text .title a p {
    font-size: 18px;
  }
}

@media (width <= 600px) {
  .scienceHeadlines .left {
    padding: 10px 0;
  }

  .scienceHeadlines .right .scienceNews .news .img {
    width: 150px;
  }

  .scienceHeadlines .right .scienceNews .news .text .title a p {
    font-size: 14px;
  }
}

@media (width <= 992px) {
  nav .links {
    display: none;
  }

  nav .toggle_btn {
    padding-right: 10px;
    display: block;
  }

  .dropdown_menu {
    display: block;
  }

  nav .logo a {
    padding-left: 10px;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

@media (width <= 1024px) {
  .scienceHeadlines .right .scienceNews .news .img {
    width: 150px;
  }

  .scienceHeadlines .right .scienceNews .news .text .title a p {
    font-size: 14px;
  }
}
/*# sourceMappingURL=science.8ed9e9c5.css.map */
